* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  margin: 0 auto;
  color: #fff;
}

.card {
  background: linear-gradient(45deg, #010101, darkgrey);
  display: grid;
  width: 90%;
  max-width: 500px;
  grid-template: .5em 50px 80px 50px 250px 50px .5em / .5em auto auto .5em;
  gap: .5em;
}

.card-logo {
  grid-column: 2 / 3 ;
  grid-row: 2;
  object-fit: contain;
  width: 50px;
  height: 100%;
  align-self: start;
  justify-self: start;
}

.card-menu-item, .card-search-icon {
  font-size: .75rem;
  font-family: sans-serif;
  grid-column: 3 / 4;
  grid-row: 2 ;
  align-self: end;
  width: 10%;
}

.card-title {
  padding-top: 1em;
  grid-column: 2 / -1;
  grid-row: 3 / 4; 
  justify-self: center;
}

.card-info {
  grid-column: 2 / -1;
  grid-row: 4/5;
  justify-self: center;
}

.card-image {
  object-fit: cover;
  grid-row: 5;
  width: 100%;
  height: 100%;
}

.card-image-title {
  grid-row: 6;
}

.left-image, .card-image-left {
  grid-column: 2 / 3;
}

.right-image, .card-image-right {
  grid-column: 3 / 4;
}

.card-image-left, .card-image-right {
  justify-self: start;
  margin-top: .5em;
}

.social-btn {
  grid-row: -1;
  grid-column: 2 / 3;
  padding: .5em;
}

.card-copyright-icon, .card-copyright-text {
  grid-row: -1;
  grid-column: 3;
}